/*global --------------------*/
body, html {
  width: 100%;
  height: 100%;
  overflow: auto;
  max-width: 640px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.page-wrapper {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

.page-inner {
  width: 80%;
  margin: auto;
  padding-top: 1px;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}
.page-inner .board {
  width: 100%;
  height: 0;
  padding-top: 29%;
  position: relative;
  border: 1px solid;
  margin-top: 40%;
  box-shadow: 2px 2px 0 #404040;
}
.page-inner .board img {
  position: absolute;
}
.page-inner .board .t1 {
  width: 90%;
  left: 5%;
  top: 3%;
}
.page-inner .board .grass {
  bottom: 95%;
}
.page-inner .board .grass.g1 {
  width: 26.5%;
  left: 5%;
}
.page-inner .board .grass.g2 {
  width: 6.015%;
  left: 45%;
}
.page-inner .board .grass.g3 {
  width: 28.1954%;
  right: 5%;
}
.page-inner .board .star.s1 {
  width: 6%;
  bottom: 120%;
  left: 50%;
}
.page-inner .board .star.s2 {
  width: 6%;
  bottom: 125%;
  left: 57%;
}
.page-inner .board .star.s3 {
  width: 6%;
  bottom: 125%;
  right: 63%;
}
.page-inner .board .star.s4 {
  width: 5%;
  bottom: 140%;
  right: 56%;
}
.page-inner .board .star.s5 {
  width: 6%;
  bottom: 163%;
  right: 62%;
}
.page-inner .board .star.s6 {
  width: 6%;
  bottom: 110%;
  left: 5%;
}
.page-inner .btn {
  display: block;
  width: 30%;
  margin: 10% auto 0 auto;
}

.fail-page .board {
  margin-top: 30%;
}

.bg img {
  position: absolute;
}
.bg .img1 {
  width: 44%;
  bottom: 0;
  right: 5%;
}
.bg .img2 {
  width: 27%;
  bottom: 0;
  left: 5%;
}
.bg .img3 {
  width: 47%;
  bottom: 17%;
  right: 36%;
}
.bg .fail-img1 {
  width: 46.6%;
  bottom: 20%;
  right: 45%;
}
.bg .fail-img2 {
  width: 50%;
  bottom: 0;
  right: 5%;
}
